<!DOCTYPE html>
<html>
    <head>
        <title>CSS Layout Flex</title>
        <link rel="stylesheet" href="layout-flex.css" />
    </head>
    <body>
        <h1>CSS Layout Flex</h1>
        <h2>Flex Column</h2>
        <h3>Cross axis alignment</h3>
        <h4>Stretch (default)</h4>
        <div class="column">
            <div class="box"></div><div class="box"></div>
        </div>
        <h4>Start</h4>
        <div class="column items-start">
            <div class="box"></div><div class="box"></div>
        </div>
        <h4>Center</h4>
        <div class="column items-center">
            <div class="box"></div><div class="box"></div>
        </div>
        <h4>End</h4>
        <div class="column items-end">
            <div class="box"></div><div class="box"></div>
        </div>
    </body>
</html>
