
body {
    font-family: sans-serif;
    background-color: burlywood;
}

#box {
    background-color: white;

    width: 460px;

    margin-top: 100px;

    margin-left: auto;
    margin-right: auto;

    border: 3px solid lightgrey;

    border-radius: 12px;
}

h1 {
    font-size: 20px;
    letter-spacing: -0.5px;
    margin-left: 8px;
}

#img-box {
    text-align: center;
}

img {
    width: 80px;
    height: 80px;

    object-fit: cover;
    object-position: top;

    border-radius: 100%;
}

#name {
    margin-bottom: 0;
    text-align: center;
}

#tag-line {
    margin-top: 4px;
    margin-bottom: 0;
    text-align: center;
    color: slategray;
}

#content {
    padding-top: 16px;
    padding-left: 48px;
}

h4 {
    margin: 0;
    margin-bottom: 4px;
}

p {
    margin: 0;
    margin-bottom: 12px;
}

#social {
    text-align: center;

    padding-top: 8px;
    padding-bottom: 8px;
}

#social img {
    width: 24px;
    height: 24px;
    margin-left: 8px;
}