<div class="p-4 prose">
  @if (loading()) {
  <p>Loading...</p>
  } @else {
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Color</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
    @for (product of products(); track product.id) {
    <tr>
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td class="flex gap-1">
        @if (product.productVariants.length > 1) { @for(variant of
        product.productVariants; track variant.id) {
        <div>
          @for(subVariant of variant.variantMap | keyvalue; track $index) {

          <button
            class="py-0.5 px-1.5 border rounded-xl hover:bg-gray-300"
            [class.bg-gray-200]="getSelectedVariant(product).id === variant.id"
            [class.bg-gray-50]="getSelectedVariant(product).id !== variant.id"
            (click)="selectVariant(product.id, variant.id)"
          >
            {{ subVariant.key }}: {{ subVariant.value }}
          </button>
          }
        </div>
        } }
      </td>
      <td>{{ getSelectedVariant(product).quantity }}</td>
      <td>
        {{
          getSelectedVariant(product).price | currency : "PKR" : "symbol-narrow"
        }}
      </td>
      <td class="flex gap-2 items-center">
        <button
          class="px-1 py-0.5 bg-slate-700 text-white rounded-md"
          (click)="addToCart(product, getSelectedVariant(product))"
        >
          Add to cart
        </button>
        <button
          class="px-1 py-0.5 bg-slate-700 text-white rounded-md"
          [routerLink]="product.id"
        >
          View
        </button>
        <button
          class="px-1 py-0.5 bg-slate-700 text-white rounded-md"
          [routerLink]="['edit', product.id]"
        >
          Edit
        </button>
      </td>
    </tr>
    } @empty {
    <p>No products there</p>
    }
  </table>
  }
  <app-cart (remove)="removeCartItem($event)"></app-cart>
</div>
