<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Todo</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="primary" (click)="form.requestSubmit()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form [formGroup]="formGroup" (ngSubmit)="add()">
    <ion-list>
      <ion-item>
        <ion-input
          label="Title"
          placeholder="Enter todo title"
          formControlName="title"
          [errorText]="titleError()"
        >
      </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Due</ion-label>
        <ion-datetime-button
          slot="end"
          datetime="datetime"
          [disabled]="dueDisabled$ | async"
        ></ion-datetime-button>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Completed</ion-label>
        <ion-checkbox slot="end" formControlName="completed"></ion-checkbox>
      </ion-item>
    </ion-list>
  </form>
</ion-content>

<ion-loading [isOpen]="loading()"></ion-loading>

<ion-alert
  [isOpen]="discardAlert()"
  (didDismiss)="discardAlert.set(false); discardPromise($event.detail.role === 'destructive')"
  message="Would you like to discard changes?"
  [buttons]="[{text: 'No', role: 'cancel'}, {text: 'Yes', role: 'destructive'}]"
></ion-alert>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime
      id="datetime"
      [formControl]="formGroup.controls.due"
    ></ion-datetime>
  </ng-template>
</ion-modal>
