 <style>

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-between;
  padding: 16px;
}

.card {
  background: white;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 240px;
}

.card-img {
  height: 206px;
  width: 206px;
  object-fit: cover;
  margin-bottom: 16px;
}

.card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-title {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.card-details {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.price {
  font-size: 1.25rem;
  font-weight: bold;
}

.stock {
  color: #4b5563;
}

.button-container {
  display: flex;
  gap: 8px;
  margin-top: 16px;
  justify-content: center;
}

.edit-button {
  background: #3b82f6;
  color: white;
  border-radius: 6px;
  padding: 8px 16px;
  transition: background-color 0.2s;
}

.edit-button:hover {
  background: #2563eb;
}

 </style>

<div class="container">
  @for (product of products(); track product.id) {
  <div class="card">
    <a [routerLink]="product.id">
      <img
        [src]="product.image || placeholderImage"
        alt="{{ product.name }}"
        class="card-img"
      />
      <div class="card-content">
        <h3 class="card-title">{{ product.name }}</h3>
        <div class="card-details">
          <span class="price">
            {{ getSelectedVariant(product).price | currency: "PKR": "symbol-narrow" }}
          </span>
          <span class="stock">In stock: 10</span>
        </div>
      </div>
    </a>
    <div class="button-container">
      <button
        [routerLink]="['edit', product.id]"
        class="edit-button"
      >
        Edit Product
      </button>
    </div>
  </div>
  }
</div>
